.CreateTodoButton{
    align-self: center;
    padding:8px 18px 8px 18px;
    font-size: 55px;
    color:  rgb(248, 131, 131);
    background-color: antiquewhite;
    border-radius: 50%;
    position: fixed;
    
}

.CreateTodoButton:hover{
    background-color: rgb(252, 220, 181);
    color: rgb(251, 92, 92);
    cursor: pointer;
}

.buttonContainer{
    background-color: red;
   width: 100%;
   max-width: 550px;
   display: flex;
   align-items: center;
   justify-content: right;
   height: 150px;
   margin: auto;

}

@media screen and (max-width: 500px) {
    .buttonContainer{
        min-width: 280px;
        width: 100%;
        background-color:none;
        justify-content: space-between;
        bottom: 0;
    }
    
    .CreateTodoButton{
        bottom: 0;
        position: relative;
        margin: auto;
    }
}
